In [63]:
import tabula

lista_tabelas = tabula.read_pdf('RD_VTaruma_all.pdf', pages='11')
print(len(lista_tabelas))

1

In [64]:
import pandas as pd

In [65]:
for tabela in lista_tabelas:
    display(tabela)

,Unnamed: 0,Unnamed: 1,EDUARDO T. DE BARROS,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,OBRA:,TARUMÃ CONDOMÍNIO - 02.,REVESTIMENTO,NaN,O,"2.1/2 """
1,LOCAL:,"AV. do Turismo, no 14012, lote 54A - Tarumã - ...",AMOSTRADOR:,NaN,"O interno 1.3/8 """,NaN
2,CONTRATANTE:,MANAUARA XII EMPREENDIMENTO IMOBILIÁRIO SPE LTDA.,NaN,NaN,O externo,"2 """
3,DATA:,05.11.2020,RN: 50.00,NaN,NaN,NaN
4,FURO No,SP-09,COTA: 31.150,NaN,FOLHA No,01
5,NaN,PERFIL,ESTRATIGRÁFICO,NaN,NaN,NaN
6,Nivel Amostra,Profund. No DE GOLPES,NaN,NaN,NaN,NaN
7,NaN,NaN,G r á f i c o,NaN,NaN,NaN
8,NaN,das,NaN,NaN,NaN,NaN
9,O,Materialcamadas1a e 2a 2a e 3a,Classificação,do,NaN,NaN
10,d'água coroa,30 cm( m )30 cm,NaN,NaN,NaN,NaN
11,NaN,4 5,10 20 30 40,NaN,NaN,NaN
12,NaN,5 5,Areia fina pouco argilosa cinza pouco compacta,NaN,NaN,NaN
13,NaN,"0,70",NaN,NaN,NaN,NaN
14,01,3 5,NaN,NaN,NaN,NaN
15,NaN,NaN,Areia média argilosa branca pouco compacta,NaN,NaN,NaN
16,NaN,"1,60 2 4",NaN,NaN,NaN,NaN
17,02,4 5,NaN,NaN,NaN,NaN
18,NaN,NaN,Argila arenosa amarela consistência mole,NaN,NaN,NaN
19,NaN,"2,80",NaN,NaN,NaN,NaN
20,03,2 2,NaN,NaN,NaN,NaN
21,04,2/45,NaN,NaN,NaN,NaN
22,05,1/45,NaN,NaN,NaN,NaN
23,NaN,NaN,Areia média argilosa rosa fofa,NaN,NaN,NaN
24,06,2/45,NaN,NaN,NaN,NaN
25,07,2 2,NaN,NaN,NaN,NaN
26,08,2/45,NaN,NaN,NaN,NaN
27,NaN,"8,40",NaN,NaN,NaN,NaN
28,09,1/50,NaN,NaN,NaN,NaN
29,10,1/45,NaN,NaN,NaN,NaN
30,NaN,NaN,Argila arenosa rosa consistência muito mole,NaN,NaN,NaN
31,11,2 3,NaN,NaN,NaN,NaN
32,12,2 2,NaN,NaN,NaN,NaN
33,NaN,"12,70",NaN,NaN,NaN,NaN
34,13,2/45,NaN,NaN,NaN,NaN
35,14,2 3,NaN,NaN,NaN,NaN
36,15,3 5,Areia média argilosa rosa fofa a pouco compacta,NaN,NaN,NaN
37,16,5 6,NaN,NaN,NaN,NaN
38,NaN,"16,80",NaN,NaN,NaN,NaN
39,17,19 24,NaN,NaN,NaN,NaN
40,NaN,NaN,Areia média pouco argilosa rosa medianamente,NaN,NaN,NaN
41,NaN,NaN,compacta a compacta,NaN,NaN,NaN
42,18,"18,00 16 20",NaN,NaN,NaN,NaN
43,PROFUNDIDADE DO NÍVEL D 'ÁGUA,NaN,80 60 40 20 COMPLEMENTO DA SONDAGEM NA FOLHA N...,NaN,NaN,NaN
44,NaN,NaN,Recuperação ( % ),NaN,NaN,NaN
45,"INICIAL : 0,70 m",NaN,N - 9.669.141.2279,NaN,NaN,NaN
46,NaN,NaN,Fragmentos / m N,NaN,NaN,NaN
47,NaN,NaN,E - 829.298.0095,NaN,NaN,NaN
48,"EFINAL : 0,70 m",NaN,Recuperação Nula,NaN,NaN,NaN
49,NaN,NaN,ROTATIVA,NaN,NaN,NaN
50,GEÓLOGO RESP. EDUARDO T. BARROS -,C.R.E.A. No 5 .137- D - 4a REGIÃO,NaN,NaN,NaN,NaN

In [66]:
# cabecalho com colunas numerotadas
cabecalho = tabela.loc[0:4]
cabecalho.columns = [1, 2, 3, 'D', '4', '5']
del cabecalho['D']
display(cabecalho)
# indicio do No do furo
indicio_furoNo_folha = cabecalho[cabecalho[1] ==  'FURO No'].index[0]
furoNo = cabecalho.iat[indicio_furoNo_folha,1]
folhaNo = cabecalho.iat[indicio_furoNo_folha,4]
print(furoNo)
print(int(folhaNo))

,1,2,3,4,5
0,OBRA:,TARUMÃ CONDOMÍNIO - 02.,REVESTIMENTO,O,"2.1/2 """
1,LOCAL:,"AV. do Turismo, no 14012, lote 54A - Tarumã - ...",AMOSTRADOR:,"O interno 1.3/8 """,NaN
2,CONTRATANTE:,MANAUARA XII EMPREENDIMENTO IMOBILIÁRIO SPE LTDA.,NaN,O externo,"2 """
3,DATA:,05.11.2020,RN: 50.00,NaN,NaN
4,FURO No,SP-09,COTA: 31.150,FOLHA No,01

SP-09
1

In [67]:
perfil_estratigrafico = tabela.drop(tabela.index[0:6])
perfil_estratigrafico.columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']
#display(perfil_estratigrafico)

In [68]:
perfil_estratigrafico = perfil_estratigrafico[perfil_estratigrafico['col2'].notna()]
#display(perfil_estratigrafico)

In [69]:
perfil_estratigrafico[['col7', 'col8']] = perfil_estratigrafico['col2'].str.rsplit(" ", 1, expand=True)
perfil_estratigrafico = perfil_estratigrafico[perfil_estratigrafico['col8'].notna()]
#display(perfil_estratigrafico)

In [72]:
perfil_estratigrafico['col8']= pd.to_numeric(perfil_estratigrafico['col8'], errors='coerce')
perfil_estratigrafico = perfil_estratigrafico[perfil_estratigrafico['col8'].notna()]
perfil_estratigrafico['col8']= pd.to_numeric(perfil_estratigrafico['col8'], downcast='integer')
display(perfil_estratigrafico['col8'])
#perfil_estratigrafico.reset_index(drop=True)
perfil_estratigrafico = perfil_estratigrafico.tail(perfil_estratigrafico.shape[0] -1)
perfil_estratigrafico.rename(columns = {'col8': furoNo}, inplace = True)
display(perfil_estratigrafico)

14     5
16     4
17     5
20     2
25     2
31     3
32     2
35     3
36     5
37     6
39    24
42    20
Name: col8, dtype: int8

,col1,col2,col3,col4,col5,col6,col7,SP-09
16,NaN,"1,60 2 4",NaN,NaN,NaN,NaN,"1,60 2",4
17,02,4 5,NaN,NaN,NaN,NaN,4,5
20,03,2 2,NaN,NaN,NaN,NaN,2,2
25,07,2 2,NaN,NaN,NaN,NaN,2,2
31,11,2 3,NaN,NaN,NaN,NaN,2,3
32,12,2 2,NaN,NaN,NaN,NaN,2,2
35,14,2 3,NaN,NaN,NaN,NaN,2,3
36,15,3 5,Areia média argilosa rosa fofa a pouco compacta,NaN,NaN,NaN,3,5
37,16,5 6,NaN,NaN,NaN,NaN,5,6
39,17,19 24,NaN,NaN,NaN,NaN,19,24
42,18,"18,00 16 20",NaN,NaN,NaN,NaN,"18,00 16",20